<!-- News Grid Section -->
<section id="News" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Resources</h2>
                    <h3 class="section-subheading text-muted">Resources for AI.</h3>
                </div>
            </div>
            <div class="row">
                <p>
                  <a href = "https://github.com/SforAiDl/Summer-Assignment-2019" style="color: black;font-size:20px;">
                    This years Summer-Assignment-2019.
                  </a>
                </p>
            </div>
        </div>
    </section>
